@using Domain.Models
@using RestaurantLibrary.Models
@model List<Product>

<div class="">
    <div class="row">
        @foreach (var food in Model)
        {
            <div class="col-6 col-md-4 mb-4 food-info">
                <img class="images product-img"
                     src="~/image/@($"{food.prod_inglish_name}{food.prod_id}.png")"
                     alt=""
                     style="cursor:pointer"
                     onerror="this.onerror=null;this.src='@Url.Content("~/image/noimage.png")';"
                     data-bs-toggle="modal"
                     data-bs-target="#tantuniModal.@food.prod_id" />
                <h5 class="texts" title="@food.prod_name"> @food.prod_name</h5>
                <h6 class="texts">@food.prod_price </h6>
                <div style="display:flex">
                    <form class="add-to-cart-form" method="post" data-product-id="@food.prod_id">
                        <input type="hidden" name="id" value="@food.prod_id" />
                        <input type="hidden" name="name" value="@food.prod_name" />
                        <input type="hidden" name="price" value="@food.prod_price" />
                        <button type="submit" class="btn btn-success add-to-cart-btn" data-added="@food.cart_state.ToString().ToLower()">
                            @(food.cart_state ? "Добавлено" : "В Корзину")
                        </button>
                    </form>

                </div>
            </div>
          
            //modelskiy
            <div class="modal fade" id="tantuniModal.@food.prod_id" tabindex="-1" aria-labelledby="tantuniModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="tantuniModalLabel">Тантуни</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body text-center">

                            <img src ="~/image/@($"{food.prod_inglish_name}{food.prod_id}.png")"
                                 style="cursor:pointer"
                                 onerror="this.onerror=null;this.src='@Url.Content("~/image/noimage.png")';"
                                 alt="Tantuni" class="img-fluid rounded mb-2 w-75 h-75" style="max-height: 300px;" />


                            <p>@food.prod_name</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="position-fixed top-0 end-0 p-3" style="z-index: 9999">
    <div id="cartToast" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                ✅ Товар добавлен в корзину!
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Закрыть"></button>
        </div>
    </div>
</div>


