@using Domain.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Food>
<div class="container mt-5">
    <div class="row">
        @foreach (var food in Model)
        {
            <div class="col-6 col-md-4 mb-4 food-info">
                <img class="images" src="@Url.Content(food.ImagePath)" alt="@food.Name"
                     style="cursor:pointer"
                     data-bs-toggle="modal" data-bs-target="#tantuniModal.@food.Id" />
                <h4 class="texts">@food.Name</h4>
                <h5 class="texts">@food.Price $</h5>
                <div style="display:flex">

                    <button type="button" class="btn btn-success">На Корзину</button>
                </div>
            </div>
            //modelskiy
            <div class="modal fade" id="tantuniModal.@food.Id" tabindex="-1" aria-labelledby="tantuniModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="tantuniModalLabel">Тантуни</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body text-center">

                            <img src="@Url.Content(food.ImagePath)" alt="Tantuni" class="img-fluid rounded mb-2 w-75 h-75" style="max-height: 300px;" />


                            <p>@food.Description</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>




